*{
    margin:0%;
    padding: 0%;
}
html,body{
    width:100%;
    height: 100%;
}

#main{
    height: 100%;
    width: 100;
    transform: translate(-90px,-90px);
  /*display: flex;
    align-items: center;
    justify-content: center;*/
    
}
.card{
    height: 300px;
    width: 230px;
    border:1px solid salmon;
    border-radius: 20px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    overflow: hidden;  
    transform-origin: center;



}
#card1{
    z-index: 4;
    transform: rotate(-1deg); 
}
#card2{
    transform: rotate(-7deg); 
   background-color: blue;
   z-index: 3;
}
#card3{
    transform:rotate(-14deg) ;
    background-color: blueviolet;
    z-index: 2;
}
#card4{
    transform:rotate(-21deg) ;
    background-color: brown;
    z-index: 1;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#card1:hover{
    z-index: 8;

}
#card2:hover{
    z-index: 8;

}
#card3:hover{
    z-index: 8;

}
#card4:hover{
    z-index: 8;

}







